server/node_modules
web/node_modules
web/package-lock.json
server/package-lock.json
server/dist
server/.env

service/node_modules
service/package-lock.json

.idea
.idea/*
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.DS_Store
.vscode
*.DS_Store
